{% extends "base.html" %}

{% block content %}

<section class="auth-bg">
    <div class="auth-box registro-box">

        <div class="auth-left">
            <div class="icon">🔐</div>
            <h2>Recuperar contraseña</h2>
            <p>
                Ingresa tu correo electrónico para restablecer tu contraseña.
            </p>
        </div>

        <div class="auth-right">
            <div class="breadcrumbs">
                <a href="{{ url_for('login') }}">Login</a> /
                <span>Recuperar contraseña</span>
            </div>

            <h1>Recuperar contraseña</h1>

            <form method="POST">
                <label>Correo electrónico</label>
                <input type="email" name="correo" placeholder="Ingresa tu correo" required>

                <button type="submit">Recuperar contraseña</button>
            </form>

            <p>
                ¿Recordaste tu contraseña?
                <a href="{{ url_for('login') }}">Iniciar sesión</a>
            </p>
        </div>

    </div>
</section>

{% endblock %}